
@{
    ViewData["Title"] = "Index";
}

<h1>
    Das Naturschneeparadies
    Schigebiet Hökl
</h1>

<div class="homecontent">
    <h2>mehr Natur</h2>
    <p>
        Intakte Natur und ein herzliches, entspanntes Miteinander machen unser Schigebiet so einzigartig.
        Und auch der grandiose Fernblick, der sich vom Gipfel des Unterbergs auf das tolle Voralpenpanorama auftut,
        trägt das Seinige bei. Schneeberg, Schneealpe, Rax und sogar Wien oder der Neusiedler See, alles fast zum Angreifen nah.

        Insgesamt 16 Pistenkilometer sind echt viel, und noch besser, wenn es an den vier Schleppliften selten zu langen Wartezeiten kommt.
        Pisten nur mit Naturschnee erwarten alle Schifahrer und Snowboarder im Schigebiet Unterberg.
        Natürlich gibt’s auch ein Kinderschiland und einen Funpark.
    </p>
    <h2>fun, fun ... funpark</h2>
    <p>
        Am Ostrand des Schigebiets Unterberg befindet sich ein Funpark für alle Boarder und Freestyle-Freunde.
        Der sogenannte SCHNEIDPARK enthält gebaute oder natürliche Hindernisse und Geländeformen.
    </p>
    <h3>Der <b>FUNPARK umfasst derzeit</b></h3>
    <img class="abgerundet" src="~/multimedia/pictures/funparkbild.jpg" alt="schigebietbild" height="230" width="230" />
    <ul class="listlvl1">
        <li>3 x Straight Rails</li>
        <li>1 x Down Rail</li>
        <li>2 x Wood Pipes</li>
        <li>1 x Wood Kinked Rail</li>
        <li>1 x Metal Kinked Rail</li>
        <li>1 x 5 m-Flat Box</li>
        <li>1 x 9 m-Flat Box</li>
        <li>uvm.</li>
    </ul>
    <br>
    <br>
    <p>
        Es werden laufend weitere Hindernisse hinzugefügt, der SCHNEIDPARK wird ständig größer.
        Den SCHNEIDPARK dürfen nur geübte Wintersportler mit geeignetem Sportgerät
        und entsprechender Schutzausrüstung (Helm, Protektoren, etc.) benützen.
        Mach dich mit dem Gelände vertraut und beachte alle Hindernisse.
    </p>
</div>