@model Schigebiet.Models.Kunde


@{ ViewData["Title"] = "Update"; }

<h3>Update</h3>

<form asp-controller="kunde" asp-action="update" method="post">
    <input type="hidden" asp-for="KundenId" />
    <p>
        <label asp-for="Name">Benutzername</label> <br />
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </p>
    <p>
        <label asp-for="Password">Passwort</label> <br />
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </p>
    <p>
        <label asp-for="EMail">EMail</label> <br />
        <input type="email" asp-for="EMail" />
        <span asp-validation-for="EMail"></span>
    </p>
    <p>
        <label asp-for="Birthdate">Geburtsdatum</label> <br />
        <input type="date" asp-for="Birthdate" />
        <span asp-validation-for="Birthdate"></span>
    </p>
    <p>
        <label asp-for="Geschlecht">Geschlecht</label> <br />
        <select asp-for="Geschlecht">
            <option value="0">männlich</option>
            <option value="1">weiblich</option>
            <option value="2" selected>nicht angegeben</option>
        </select>
        <span asp-validation-for="Geschlecht"></span>
    </p>

    <p>

        <input type="submit" value="absenden" />
        <input type="reset" value="abbrechnen" />
    </p>
</form>