@{
    ViewData["Title"] = "Index";
}

<h1>
    Infos zu den Tickets
</h1>

<div class="Ticketcontent">
    <h2>Preis:</h2>
    <br />
    <br />
    <table>
        <tr>
            <td>Erwachsener(4h):</td>
            <td>10€</td>
        </tr>
        <tr>
            <td>Erwachsener(Tag):</td>
            <td>20€</td>
        </tr>
        <tr>
            <td>Jugendliche(4h):</td>
            <td>7€</td>
        </tr>
        <tr>
            <td>Jugendliche(Tag):</td>
            <td>14€</td>
        </tr>
        <tr>
            <td>Kind(4h):</td>
            <td>5€</td>
        </tr>
        <tr>
            <td>Kind(Tag):</td>
            <td>10€</td>
        </tr>
        <tfoot>
            <tr>
                <td colspan="2">Kinder unter 5 Jahren sind <b>GRATIS</b></td>
            </tr>
        </tfoot>
    </table>

    <br />
   

    <p>Auf den Tickets gibt es 2€ Pfand!</p>
    <p>Für Preisfeedback - bitte registrieren/anmelden</p>
</div>